@page
@model PrivacyModel
@{
    ViewData["Title"] = "CLOUD NATIVE MANAGED SERVICES CI/CD ON AZURE";
}
<h1>@ViewData["Title"]</h1>

<p>You are about to enter the world or Cloud Native managed Services.</p>
